<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>【飞哪儿网】后台登录</title>
	<link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="../stylesheets/base/base.css" />
	<link rel="stylesheet" href="../stylesheets/admin/page/login.css" />
</head>
<body>
	<div id="login">
		<!-- <img src="../images/logo.jpg" alt="logo" /> -->
		<form>
			<input class="form-control name" type="text" placeholder="姓名" required="required"　/>
			<input class="form-control password" type="password" placeholder="密码"　required="required" />
			<input class="form-control submit" id="submit" type="button" value="登录" required="required" />
		</form>
	</div>
</body>
</html>

<script src="../javascripts/base.js"></script>
<script src="../javascripts/admin/login.js"></script>