<div class="col-md-12 top">
	<div id="header">
		<div class="opacity"></div>
		<div class="userImg">
			<a href="https://github.com/MrGitHan"><img src="app/images/user.jpg" alt="hanfeng" /></a>
		</div>
	</div>
	<div class="nav" blogs>
		<ul>
			<li>
				<a ng-href="/#">首页</a>
			</li>
			<li>
				<a ng-href="#web-fornt">前端</a>
			</li>
			<li>
				<a ng-href="#linux">linux</a>
			</li>
			<li>
				<a ng-href="#c&amp;c++">c&amp;c++</a>
			</li>
			<li>
				<a ng-href="https://github.com/MrGitHan">github</a>
			</li>
			<li>
				<a ng-href="">友情链接</a>
			</li>
		</ul>
	</div>
</div>
