.reg {
	background-color: #999;
	margin: 0 auto;
	width: 350px;
	height: auto;
	border-radius: 5px;
	box-shadow: 2px 2px 2px #666;
	margin-top: 120px;
}
	.reg div {
		background-color: #61D239;
		color: #fff;
		font-size: 25px;
		font-weight: bold;
		padding: 8px 15px;
	}
	.reg form {
		padding: 30px;
	}
		.reg form label {
			display: inline-block;
			width: 80px;
		}
		.reg form input {
			border-radius: 3px;
			line-height: 30px;
			margin-bottom: 20px;
			border: 0;
			outline: 0;
			padding-left: 15px;
		}
		.reg form #submit {
			margin-left: 120px;
		}