.update {
	width: 1024px;
	margin: 0 auto;
	background-color: #F7F6F6;
	border: 1px solid #000;
	border-radius: 5px;
	margin-top: 20px;
}
	.update  form {
		padding: 100px;
		text-align: center;
	}
		.update  form label {
			font-size: 30px;
			font-weight: bold;
			float: left;
		}
		.update  form input, .update  form textarea {
			margin-bottom: 20px;
		}
		.update  form input {
			display: inline-block;
			width: 89%;
		}
